@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap");
@media screen and (max-width: 1000px) { .active { position: fixed; display: block; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; left: 0; top: 0; width: 100%; height: 100%; }
  .active .img-container { position: absolute; left: 25%; top: 40%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); width: 200px; height: 200px; }
  .active .img-container .info { position: absolute; left: 25%; bottom: 2%; -webkit-transform: translate(-50%, 0); transform: translate(-50%, 0); font-size: 30px; margin-bottom: 13px; }
  .active .img-container .info .number { background-color: #fff; border-radius: 10px; font-size: 1.2rem; padding: 5px 10px; }
  .active .img-container .info .name { margin: 15px 0 3px 0; letter-spacing: 1px; }
  .active .img-container .info .type { font-size: 25px; margin: 18px 0 12px; display: block; }
  .active .img-container .content { -webkit-box-sizing: border-box; box-sizing: border-box; position: absolute; right: 3%; top: 50%; height: 90%; -webkit-transform: translate(0, -50%); transform: translate(0, -50%); font-size: 25px; background-color: #ffffff5d; text-align: left; width: 45%; border-bottom-right-radius: 40px; border-top-right-radius: 40px; padding: 50px; line-height: 160%; display: block; } }

* { margin: 0; padding: 0; }

html { -webkit-box-sizing: border-box; box-sizing: border-box; }

body { font-family: 'Raleway', sans-serif; height: 100vh; text-align: center; background-image: url("../img/bgc.jpg"); background-position: center; background-repeat: no-repeat; background-size: cover; background-color: #0D0D0F; }

.header { position: relative; max-width: 1200px; margin: 0 auto; height: 80px; }

h1 { position: absolute; right: 10%; top: 10%; }

h1 img { height: 70px; }

#search { position: absolute; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); top: 30px; width: 85%; height: 30px; padding-left: 10px; border-radius: 30px; }

#search:focus { border: 2px solid #FC4242; }

.btn { position: absolute; right: calc(2.5%); -webkit-transform: translateX(-50%); transform: translateX(-50%); top: 30px; height: 34px; width: 80px; border: 2px #ddd solid; border-top-right-radius: 20px; border-bottom-right-radius: 20px; background-color: #333541; -webkit-transition: .2s; transition: .2s; }

.btn:hover { cursor: pointer; background-color: #24242b; }

.btn i { color: white; font-size: 15px; }

.image { position: absolute; top: 0; left: 0; right: 0; overflow: hidden; height: 100vh; width: 100%; z-index: -1; }

.poke-container { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-align: space-between; -ms-flex-align: space-between; align-items: space-between; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; margin: 10px auto; max-width: 1200px; }

.poke-container .pokemon { background-color: #eeeeee; border-radius: 15px; padding: 5px 20px 15px; margin: 10px; width: 120px; text-align: center; -webkit-box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5); box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5); }

.poke-container .pokemon .img-container { margin: 20px auto; background-color: rgba(255, 255, 255, 0.6); border-radius: 50%; width: 100px; height: 100px; }

.poke-container .pokemon .img-container img { margin-top: 20px; max-width: 90%; }

.poke-container .pokemon .info { margin-top: 20px; }

.poke-container .pokemon .info .number { background-color: #fff; border-radius: 10px; font-size: 0.8rem; padding: 5px 10px; }

.poke-container .pokemon .info .name { margin: 15px 0 7px; letter-spacing: 1px; }

.poke-container .pokemon .info .type { display: none; margin-top: 5px; }

.poke-container .pokemon .content { display: none; }

.poke-container .active { position: fixed; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; left: calc( 50% - 600px); top: 0; width: 96%; max-width: 1200px; height: 95%; max-height: 900px; -webkit-box-shadow: 0 13px 15px #646464b7; box-shadow: 0 13px 15px #646464b7; border-radius: 40px; }

.poke-container .active .img-container { position: absolute; left: 25%; top: 40%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); width: 500px; height: 500px; }

.poke-container .active .info { position: absolute; left: 25%; bottom: 2%; -webkit-transform: translate(-50%, 0); transform: translate(-50%, 0); font-size: 30px; margin-bottom: 13px; }

.poke-container .active .info .number { background-color: #fff; border-radius: 10px; font-size: 1.2rem; padding: 5px 10px; }

.poke-container .active .info .name { margin: 15px 0 3px 0; letter-spacing: 1px; }

.poke-container .active .info .type { font-size: 25px; margin: 18px 0 12px; display: block; }

.poke-container .active .content { -webkit-box-sizing: border-box; box-sizing: border-box; position: absolute; right: 3%; top: 50%; height: 90%; -webkit-transform: translate(0, -50%); transform: translate(0, -50%); font-size: 25px; background-color: #ffffff5d; text-align: left; width: 45%; border-bottom-right-radius: 40px; border-top-right-radius: 40px; padding: 50px; line-height: 160%; display: block; }
/*# sourceMappingURL=style.css.map */